@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap');

/* html.dark {
  --background-color: #1a1a2e!important;
  --text-color: white;
  --nav-dot-color: white;
  --btn-bg-color: white;
  --btn-text-color: black;
}

html.light {
  --background-color: white!important;
  --text-color: black;
  --nav-dot-color: black;
  --btn-bg-color: black;
  --btn-text-color: white;
} */

body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color)!important;
  color: var(--text-color);
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-clip,
.custom-clip-ar {
  clip-path: none;
}
@media (min-width: 768px) {
  .custom-clip {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }
}
.custom-clip-ar{
clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.arabic-font {
  font-family: 'Cairo', sans-serif;
}

.nav-dot {
  width: 12px;
  height: 12px;
  background-color: gray;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-dot:hover {
  background-color: #D718D0;
}

/* Active dot styling (optional if you want to highlight active dot) */
.nav-dot-active {
  background-color: #D718D0;
}
.clip-path-hero{
  clip-path: circle(50.6% at 68% 31%);
}
.opacity-0 {
  opacity: 0;
}